/**
 * Payline module for PrestaShop
 *
 * @author    Monext <support@payline.com>
 * @copyright Monext - http://www.payline.com
 */

#payline-contracts-list li {
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: move;
}
#payline-contracts-list li.payline-active-contract {
	border-color: #00aff0;
}
#payline-contracts-list li:not(.payline-active-contract) {
	border-color: orange;
}

#log_container {
  overflow: hidden;
  height: 410px;
  padding: 5px;
  margin-top: 10px;
}

#log_display {
  width: 100%;
  height: 400px;
  overflow: auto;
  margin: 0;
  padding: 6px;
  background: black;
  color: #2EC029EC
}

#log_display details[open] {
  padding: 4px;
}

#paylineCtaPreviewContainer {
  padding: 40px 60px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

#paylineCtaPreview {
  padding: 10px 26px;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #26A434;
}

#paylineCtaPreview:hover {
  background-color: #1c7b27;
  text-decoration: underline;
}
